.title {
  font-size: 50px;
  color: white;
  font-family: roboto;
  font-variant: h4;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.stitle {
  font-size: 50px;
  color: black;
  font-family: roboto;
  font-variant: h4;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.createButton {
  padding: 10px;
  font-size: 20px;
  box-align: "center";
  border-radius: 5px;
  color: white;
  background-color: #002f86;
  border: none;
  cursor: pointer; 
}
.auction {
  background-image: url('../static/auctionhouse.jpg');
  background-size: contain;
}
.auctionscroll {
  text-align: center;
  position: relative;
  background-color: #002f86;
  background-image: linear-gradient(to bottom right, #002f86, black);
  color: white;
  width: 100%;
  height: 300px;
  overflow-x: auto;
  z-index: 0;
}

.auctionscroll img {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 20px;
  left: 10px;
  object-fit: contain;
}

.auctionscroll a {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 20px;
  left: 270px;
  overflow-x: wrap;
  overflow-y: scroll;
  padding: 2px;
}

.addlotdrop {
  display: inline-block;
  position: "fixed";
  margin: auto;
  height: 20px;
  border-radius: 5px;
  width: 300px;
  background-color: rgba(100, 100, 100, .7);
  transition: .5s;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: pointer;
}
.addlotdrop p {
  padding: 0px;
}
.addlotdrop:hover{
  background-color: rgba(200, 100, 100, .7);;
}
.addlotdrop p:hover{
  background-color: rgba(100, 100, 200, .7);;
}

.lotdropdown {
  color: white;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  width: 600px;
  height: 600px;
  top: -600px;
  transition: top .5s;
  right: 0;
  z-index: 20;
}

.createdropdown {
  border-radius: 0px 0px 0px 5px;
  color: white;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  width: 500px;
  height: 200px;
  top: -200px;
  transition: top .5s;
  right: 0;
  z-index: 20;
}

::-webkit-scrollbar {
  background-color: rgba(200, 200, 200, .7);
  width: 10px;
  height: 10px;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 30px;
}