.title {
  font-size: 100px;
  color: white;
  text-align: center;
}
.auction {
  background-image: url('../static/auctionhouse.jpg');
  background-size: contain;
}
.auctionscroll {
  text-align: center;
  position: relative;
  background-color: #002f86;
  color: white;
  width: 100%;
  height: 300px;
  overflow-x: auto;
  z-index: 0;
}

.auctionscroll img {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 20px;
  left: 10px;
  object-fit: contain;
}

.auctionscroll a {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 20px;
  left: 270px;
  overflow-x: wrap;
  overflow-y: scroll;
  padding: 2px;
}

.lotdropdown {
  color: white;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  width: 600px;
  height: 600px;
  top: -600px;
  transition: top .5s;
  right: 0;
  z-index: 1;
}

.createdropdown {
  border-radius: 0px 0px 0px 30px;
  color: white;
  position: absolute;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  width: 500px;
  height: 200px;
  top: -200px;
  transition: top .5s;
  right: 0;
  z-index: 1;
}

::-webkit-scrollbar {
  background-color: rgba(200, 200, 200, .7);
  width: 10px;
  height: 10px;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 30px;
}