.lds-dual-ring {
  display: none;
  width: 10px;
  height: 10px;
  position: fixed;
  left: 95px;
  top: 168px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, .7);
  border-color: rgba(0, 0, 0, .7) transparent rgba(0, 0, 0, .7) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.centering {
  position: absolute;
  top: 10%;
  left: 10%;
}

/* The sidebar menu */
.sidebarinit {
  border-radius: 0px 5px 5px 0px;
  height: 200px; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place relative to scroll */
  top: 100px;
  left: -200px;
  transition: left 0.5s;
  z-index: 1;
  background-color: #002f86; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* transition: width 0.5s; 0.5 second transition effect to slide in the sidebar */
  align-content: center;
}
/* The sidebar links */

/* When you mouse over the navigation links, change their color */
.sidebarinit a:hover {
  color: #52759cf1;
}
/* Position and style the close button (top right corner) */
.sidebarinit .closebtn {
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #919191;
}
/* The button used to open the sidebar */
.openbtninit {
  border-radius: 5px;
  left: 10px;
  top: 155px;
  position: fixed; 
  transition: left .5s;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #002f86;
  color: white;
  padding: 10px 10px 10px 10px;
}
.openbtninit:hover {
  background-color: #d6ba8b;
}


/* The sidebar menu */
.tradewin {
  height: 80%; /* 100% Full-height */
  width: 80%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 50;
  left: -100%;
  transition: left .5s;
  background-color: #002f86; /* Black*/
  overflow: scroll; /* Disable horizontal scroll */
  padding-top: 5px; /* Place content 60px from the top */
  transition: 0.7s; /* 0.5 second transition effect to slide in the sidebar */
}
/* The sidebar links */
.tradewin a {
  position: absolute;
  /* padding: 8px 8px 8px 8px; */
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: color 0.3s;
}

.tradewin img {
  object-fit: contain;
}

.myuser {
  position: absolute;
  /* padding: 8px 8px 8px 8px; */
  text-decoration: none;
  font-size: 25px;
  color: #d6ba8b;
  display: block;
  transition: color 0.3s;
  left: 20px;
  top: 20px;
}
.otheruser {
  position: absolute;
  /* padding: 8px 8px 8px 8px; */
  text-decoration: none;
  font-size: 25px;
  color: #d6ba8b;
  display: block;
  transition: color 0.3s;
  left: 730px;
  top: 20px;
}

.myuser a {
  position: relative;
}

.otheruser a {
  position: relative;
}

.localg {
  position: absolute;
  top: 50px;
  left: 20px;
}

.locala {
  border-radius: 5px 0px 0px 0px;
  position: absolute;
  text-align: center;
  align-content: center;
  top: 130px;
  left: 20px;
  height: 300px;
  width: 300px;
  background: #d6ba8b;
  overflow-y: scroll;
  overflow-x: hidden;

}

.otherg {
  position: absolute;
  top: 50px;
  left: 730px;
}

.othera {
  border-radius: 5px 0px 0px 0px;
  position: absolute;
  text-align: center;
  align-content: center;
  top: 130px;
  left: 530px;
  height: 300px;
  width: 300px;
  background: #d6ba8b;
  overflow-y: scroll;
  overflow-x: hidden;
}

.localconfirm {
  position: absolute;
  top: 480px;
  left: 375px;
}

.localconfirm input {
  position: absolute;
  left: 35px;
  top: 30px;
  
}

.addg {
  position: relative;
  left: 20px;
  top: 440px;
  color: aliceblue;
  z-index: 1;
}

.addg a {
  font-size: 12px;
  position: relative;
  align-content: center;
}

.addg input {
  position: relative;
  align-content: center;
  width: 200px;
}

.addg button {
  position: relative;
  align-content: center;
}

/* When you mouse over the navigation links, change their color */
/* .tradewin a:hover {
  color: #52759cf1;
} */
/* Position and style the close button (top right corner) */
.tradewin .closebtn {
  position: absolute;
  padding: 5px;
  top: 530px;
  left: 385px;
  font-size: 20px;
  background-color: #d6ba8b;
  border-radius: 5px;
  cursor: pointer;
}

.closebtnart {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  z-index: 1;
}

.closebtnart:hover{
  color: rgb(31, 31, 32);
}


/* The button used to open the sidebar */



h1 {
  /* padding: 0px 0px 0px 32px; */
  /* text-decoration: none; */
  font-size: 15px;
  transition: 0.3s;
  color: #f1f1f1;
  /* display: block; */
  margin: auto;
  align-content: center;
  text-align: center;
}

.requestbutton {
  /* padding: 0px 0px 0px 32px; */
  transition: 0.3s;
  display: block;
  margin: auto;
  align-content: center;
}

.requestinput {
  /* padding: 0px 0px 0px 32px; */
  transition: 0.3s;
  display: block;
  margin: auto;
  align-content: center;
}


/* ALERT SIDE MENU */
.sidebaralert {
  border-radius: 0px 5px 5px 0px;
  height: 400px; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 150px;
  left: -200px;
  transition: left .5s; 
  z-index: 1;
  background-color: #002f86;
  overflow-x: hidden; /* Disable horizontal scroll */
}
/* The sidebar links */
.sidebaralert a {
  font-size: 25px;
  color: #818181;
  display: block;
  cursor: pointer;
}
/* When you mouse over the navigation links, change their color */
.sidebaralert a:hover {
  color: #52759cf1;
}
/* Position and style the close button (top right corner) */
.sidebaralert .closebtn {
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #919191;
}
/* The button used to open the sidebar */
.openbtnalert {
  display: none;
  border-radius: 5px;
  font-size: 20px;
  position: fixed;
  top: 205px;
  left: 10px;
  transition: left .5s;

  cursor: pointer;
  background-color: #002f86;
  color: white;
  padding: 10px 10px;
  border: none;

  animation: btn-alert 3s linear infinite;
}


.openbtnalert:hover {
  background-color: #d6ba8b;
}

@keyframes btn-alert {
  0% {
    background-color: #002f86;
  }
  50% {
    background-color: #002f86;
  }
  100% {
    background-color: #002f86;
  }
}

/* Dropdown Button */
.dropbtn {
  width: 50%;
  display: block;
  margin: auto;
  border: none;
  border-radius: 30px 30px 0px 0px;
  /* align-content: center; */

  background-color: #d6ba8b;
  color: white;

  padding: 2px;
  font-size: 16px;
}

.dropbtnArtworks {
  position: absolute;
  width: 200px;
  background-color: #d6ba8b;
  color: white;
  padding: 2px;
  top: 480px;
  left: 20px;
  font-size: 14px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: block;
  align-content: center;
  margin: auto;
  width: 11%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  height: 0;
  width: 50%;
  border-radius: 0px 0px 0px 30px;
  transition: height .5s;
  display: block;
  margin: auto;
  align-content: center;
  background-color: #d6ba8b;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-content-art {
  height: 0px;
  width: 100%;
  transition: height .5s;
  /* display: block; */
  align-content: center;
  background-color: #d6ba8b;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-content-art a {
  font-size: 12px;
  color: black;
  padding: 2px;
  display: list-item;
  margin: auto;
  align-content: center;
  position: relative;
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 2px;
  display: list-item;
  margin: auto;
  align-content: center;
  position: relative;
  cursor: pointer;
}