/* img:before { 
  content: " ";
  display: block;

  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
}

img:after { 
  content: "\f127" " Broken Image of " attr(alt);
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);
  
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
} */



/* The sidebar menu */
.sidebarinit {
  border-radius: 0px 30px 30px 0px;
  height: 200px; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place relative to scroll */
  top: 100px;
  left: -200px;
  transition: left 0.5s;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* transition: width 0.5s; 0.5 second transition effect to slide in the sidebar */
  align-content: center;
}
/* The sidebar links */
/* .sidebarinit a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
} */
/* When you mouse over the navigation links, change their color */
.sidebarinit a:hover {
  color: #52759cf1;
}
/* Position and style the close button (top right corner) */
.sidebarinit .closebtn {
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 20px;
  color: #919191;
}
/* The button used to open the sidebar */
.openbtninit {
  border-radius: 30px 30px 30px 30px;
  left: 10px;
  top: 100px;
  position: fixed; 
  transition: left .5s;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 10px 10px 10px;
}
.openbtninit:hover {
  background-color: #444;
}


/* The sidebar menu */
.tradewin {
  height: 80%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 50;
  left: -100%;
  transition: left .5s;
  background-color: rgba(255, 255, 255, .99); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px; /* Place content 60px from the top */
  transition: 0.7s; /* 0.5 second transition effect to slide in the sidebar */
}
/* The sidebar links */
.tradewin a {
  position: absolute;
  /* padding: 8px 8px 8px 8px; */
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: color 0.3s;
}

.myuser {
  position: absolute;
  /* padding: 8px 8px 8px 8px; */
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: color 0.3s;
  left: 5%;
  top: 5%;
}
.otheruser {
  position: absolute;
  /* padding: 8px 8px 8px 8px; */
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: color 0.3s;
  right: 5%;
  top: 5%;
}

.myuser a {
  position: relative;
}

.otheruser a {
  position: relative;
}

.localg {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 8%;
  width: 40%;
}

.locala {
  position: absolute;
  text-align: center;
  align-content: center;
  top: 25%;
  left: 5%;
  height: 50%;
  width: 40%;
  background: rgba(0, 0, 255, .1);
  overflow-y: scroll;
  overflow-x: hidden;

}

.otherg {
  position: absolute;
  top: 15%;
  right: 5%;
  height: 8%;
  width: 40%;
}

.othera {
  position: absolute;
  text-align: center;
  align-content: center;
  top: 25%;
  right: 5%;
  height: 50%;
  width: 40%;
  background: rgba(0, 0, 255, .1);
  overflow-y: scroll;
  overflow-x: hidden;
}

.localconfirm {
  position: absolute;
  top: 80%;
  left: 45%;
}

.localconfirm input {
  position: absolute;
  left: 40%;
  top: 100%;
  
}

.addg {
  position: relative;
  left: 35%;
  top: 2%;
  color: aliceblue;
  z-index: 1;
}

.addg a {
  position: relative;
  align-content: center;
}

.addg input {
  position: relative;
  align-content: center;
  width: 100x;
}

/* When you mouse over the navigation links, change their color */
.tradewin a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.tradewin .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  margin-left: 0;
}


/* The button used to open the sidebar */



h1 {
  /* padding: 0px 0px 0px 32px; */
  /* text-decoration: none; */
  font-size: 15px;
  transition: 0.3s;
  color: #f1f1f1;
  /* display: block; */
  margin: auto;
  align-content: center;
  text-align: center;
}

.requestbutton {
  /* padding: 0px 0px 0px 32px; */
  transition: 0.3s;
  display: block;
  margin: auto;
  align-content: center;
}

.requestinput {
  /* padding: 0px 0px 0px 32px; */
  transition: 0.3s;
  display: block;
  margin: auto;
  align-content: center;
}


/* ALERT SIDE MENU */
.sidebaralert {
  border-radius: 0px 30px 30px 0px;
  height: 400px; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 150px;
  left: -200px;
  transition: left .5s; 
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden; /* Disable horizontal scroll */
}
/* The sidebar links */
.sidebaralert a {
  font-size: 25px;
  color: #818181;
  display: block;
}
/* When you mouse over the navigation links, change their color */
.sidebaralert a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidebaralert .closebtn {
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 20px;
  color: #919191;
}
/* The button used to open the sidebar */
.openbtnalert {
  display: none;
  border-radius: 30px 30px 30px 30px;
  font-size: 20px;
  position: fixed;
  top: 150px;
  left: 10px;
  transition: left .5s;

  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 10px;
  border: none;
}
.openbtnalert:hover {
  background-color: #444;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  /* .sidebarinit {padding-top: 15px;}
  .sidebarinit a {font-size: 18px;}
  .sidebaralert {padding-top: 15px;}
  .sidebaralert a {font-size: 18px;} */
}



/* Dropdown Button */
.dropbtn {
  display: block;
  margin: auto;
  /* align-content: center; */

  background-color: rgb(64, 82, 185);
  color: white;

  padding: 2px;
  font-size: 16px;
}

.dropbtnArtworks {
  position: relative;
  align-content: center;
  width: 128px;
  background-color: rgb(64, 82, 185);
  color: white;
  padding: 2px;
  top: 5px;
  font-size: 14px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: block;
  align-content: center;
  margin: auto;
  width: 11%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  height: 0;
  width: 50%;
  transition: height .5s;
  display: block;
  margin: auto;
  align-content: center;
  background-color: #f1f1f1;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-content-art {
  height: 0;
  width: 100%;
  transition: height .5s;
  display: block;
  margin: auto;
  align-content: center;
  background-color: #f1f1f1;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-content-art a {
  font-size: 10px;
  color: black;
  padding: 2px;
  display: list-item;
  margin: auto;
  align-content: center;
  position: relative;
}

#dropdown-content {
  transition: height;
  /* padding: 10px; */
  /* display:none; */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 2px;
  display: list-item;
  margin: auto;
  align-content: center;
  position: relative;
}

/* Change color of dropdown links on hover
.dropdown-content a:hover {background-color: #ddd;}

Show the dropdown menu on hover
.dropdown:hover .dropdown-content {display: block; transition: 1s;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
